*{
    margin:0px;
    font-family:sans-serif;
    transition: 0.8s all;
    outline: none;
}
body{
    background: #fff;
    font-size:12px;
    color:#666;
}
.main{
    overflow: hidden;
    max-width:700px;
    /* box-shadow: 0px 0px 3px #ccc; */
    position: relative;
    margin:0px auto;
}
.lder{
	padding:5px 0px;
	text-align:center;
}
.myloader{
    animation-name: loader;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    margin:30px 0px;
	width:20px;
}
@keyframes loader{
	0% {transform:rotateZ(0deg); }
	100%{ transform:rotateZ(360deg); }
}
.leftMenu{
    float:left;
    width:40%;
    position: relative;
    padding:10px 0px;
    text-align:center;
    /* border:1px solid #ccc; */
}
.rightMenu{
    float:left;
    text-align:center;
    width:60%;
    position: relative;
    padding:10px 0px;
    overflow: hidden;
    /* border:1px solid #ccc; */
}
.clear{
    clear:both;
    width:100%;
    display:block;
}
.signupForm{
    overflow: hidden;
}
.formElement{
    float:left;
    transition: 0s all;
    text-align:left;
    /* border: 1px solid #000; */
}
.formElement table{ min-width:280px; /*border:1px solid #ccc;*/ margin:0px auto; }
.formElement input{
    border: 1px solid #ccc;
    background: #f7f7f7;
    padding: 8px 20px;
    border-radius: 55px;
    font-size: 12px;
    width:86%;
}
.formElement button, .leftMenu button{
    background: #00a6c5;
    color: #fff;
    border: none;
    padding: 5px 30px;
    border-radius: 100px;
    margin-top: 10px;
    cursor: pointer;
}
.leftMenu button{
    background: #00a6c5;
    color:#fff;
    margin-top: 30px;
}
.uss{
    border: 1px solid #777;
    width: 100%;
    padding: 5px 15px;
    background: #eee;
    border-radius: 25px;
    color: #444;
    font-size: 12px;
}
